.main{
    
    display: flex;
    padding: 0;
}
.main-left{
     height: 700px;  
}
.main-right{
    
    width: 50%;
    
    margin: 10px 10px
}
i {
    margin: 20px 10px;
    
}
h1{
    font-size: 74px;
    margin : 35px 10px;
    
    
}
h2{
    font-size: 35px;
    margin-left:45px ;
    margin-left: 10px;
}

.button-google{
    font-size: 14px;
    cursor: pointer;
    text-align: center;
    white-space: nowrap;
    /* height: 50px; */
    border-color: 1px whitesmoke;
    margin-left: 30px;
    padding: 5px 60px 5px 60px;
    background-color: white;
    border-radius: 20px 
    
      
         
}
.button-google:hover{
    background-color: #fafafa ;
    transition: .15s ease-in-out;
}

.button-apple{
    font-size: 15px;
    font-weight: 700;
    cursor: pointer;
    text-align: center;
    white-space: nowrap;
    border-radius: 20px;
    padding: 5px 56px 5px 56px;  
    margin-top: 5px;
    border-color: 1px whitesmoke;
    margin-left: 30px;
    background-color: white;
  
}
.button-apple:hover{
    background-color:#fafafa;
    transition: .15s ease-in-out;
}
.gmail{
    font-size: 15px;
    font-weight: 700;
    background-color: white;
    cursor: pointer;
    border-radius: 20px;
    text-align: center;
    white-space: nowrap;
    margin-top: 5px;
    border-color: 1px white;
    margin-left: 30px;
    padding: 7px 32px 7px 32px
   
}  
.gmail:hover{
    background-color:#fafafa;
    transition: .15s ease-in-out;
}  
.terms{
    margin-left: 30px;
}
.last-line{
    margin-left: 30px;
    font-size: 18px;
    /* font-weight: 400;
    line-height: 20px; */


}
a{
    text-decoration: none;
    cursor: pointer;
}
span{
    margin-left: 10px;
    white-space: nowrap;
  
    letter-spacing: 0.5px;
    font: 10px

}